.footer {
  height: 124px;
  background: rgb(167, 167, 167);
  margin-top: 15px;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.footer_logo {
    cursor: pointer;
}

.footer_text {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

