.single_section {
  padding-top: 30px;
}

.single_card {
  display: flex;
  justify-content: space-between;
}

.single_card_left {
  border: 2px solid rgb(169, 169, 169);
  padding: 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.2);
}

.single_title {
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto;
  padding-top: 5px;
  text-align: center;
  width: 500px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  padding-top: 77px;
}

.single_img {
  width: 320px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  object-fit: contain;
}

.single_discription {
  font-size: 17px;
  font-family: Inter;
  width: 500px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(71, 71, 71);
  text-align: center;
  padding-top: 10px;
}

.single_category {
  font-size: 30px;
  font-family: Roboto;
}

.single_price {
  font-size: 30px;
  font-family: Roboto;
  color: red;
}

.single_card_prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

